{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-redux-provide/lib/transform"
          }]
        }]
      ]
    }
  }
}
